
.auth-container {
  gap: var(--gap-step);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray-50);
  border-radius: var(--app-border-radius);
  padding: calc(var(--gap-step) * 3);
}

.auth-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--gap-step);
}

.auth-error-text {
  color: var(--red-500);
  margin-top: var(--gap-step);
  margin-bottom: var(--gap-step);
  max-width: 10rem;
}

.google-sign-in-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: var(--app-border-radius);
  border: none;
  padding: calc(var(--gap-step) * 2.5) calc(var(--gap-step) * 3);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  gap: var(--gap-step);
  align-items: center;
  background-color: var(--gray-50);
  color: var(--text-color);

  svg {
    fill: var(--gray-50);
    height: 1.2rem;
    width: 1.2rem;
  }

  &:hover {
    background: var(--highlight-hover);
  }
  &:active {
    background: var(--highlight-pressed); 
  }
}

.auth-or {
  align-self: center;
  margin: calc(var(--gap-step) * 2) 0
}

.auth-container>a {
  align-self: flex-start;
}
