
.auth-form-container {
  gap: var(--gap-step);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-50);
  border-radius: var(--app-border-radius);
  padding: calc(var(--gap-step) * 3);
  width: 18rem;
}

.auth-or {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin: calc(var(--gap-step) * 2) 0
}

.auth-nav-links {
  margin: calc(var(--gap-step) * 2) 0;
  padding: calc(var(--gap-step) * 3);
  display: flex;
  flex-direction: column;
  gap: var(--gap-step);
  align-items: center;
  background-color: var(--gray-50);
  border-radius: var(--app-border-radius);
}

.google-sign-in-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gap-step);
  align-items: center;

  svg {
    fill: transparent;
    height: 1.2rem;
    width: 1.2rem;
  }
}
