:root, :root[data-theme="light"] {
  color-scheme: light;
  --background-color: #ffffff;
  --gray-50: #f2f2f2;
  --gray-100: #d0d0d0;
  --gray-200: #afafaf;
  --gray-300: #8f8f8f;
  --gray-400: #717171;
  --gray-500: #555555;
  --gray-600: #393939;
  --gray-650: #181818;
  --blue-50: #ddeefa;
  --blue-100: #c4e5fe;
  --blue-200: #8ecdff;
  --blue-300: #2bb3ff;
  --blue-400: #008ff8;
  --blue-500: #006dca;
  --blue-600: #044792;
  --red-100: #f7c4ba;
  --red-200: #f29887;
  --red-300: #eb664d;
  --red-400: #de2300;
  --red-500: #a81b00;
  --red-600: #731200;
  --green-50: #bffbc6;
  --green-100: #68ee85;
  --green-200: #51da73;
  --green-300: #00AC47;
  --green-400: #006728;
  --green-500: #004819;
  --green-600: #002a0c;

  --yellow-100: #fef08a;
  --yellow-200: #fde047;
  --yellow-300: #facc15;
  --yellow-400: #eab308;
  --yellow-500: #ca8a04;
  --yellow-600: #a16207;

  --app-color: var(--green-300);
  --highlight-hover: rgba(0 0 0 / 0.1);
  --highlight-pressed: rgba(0 0 0 / 0.2);
}

@media (prefers-color-scheme: dark) {
  :root:not(:root[data-theme]) {
    color-scheme: dark;

    --background-color: #1d1d1d;
    --gray-50: #272727;
    --gray-100: #393939;
    --gray-200: #4f4f4f;
    --gray-300: #686868;
    --gray-400: #848484;
    --gray-500: #a7a7a7;
    --gray-600: #cfcfcf;
    --gray-650: #efefef;
    --blue-50: #021a35;
    --blue-100: #044792;
    --blue-200: #006dca;
    --blue-300: #008ff8;
    --blue-400: #2bb3ff;
    --blue-500: #8ecdff;
    --blue-600: #c4e5fe;
    --red-100: #721200;
    --red-200: #9c1900;
    --red-300: #cc2000;
    --red-400: #e95034;
    --red-500: #f08c79;
    --red-600: #f7c3ba;
    --green-50: #002a0c;
    --green-100: #004819;
    --green-200: #006728;
    --green-300: #00AC47;
    --green-400: #51da73;
    --green-500: #68ee85;
    --green-600: #bffbc6;

    --yellow-100: #a16207;
    --yellow-200: #ca8a04;
    --yellow-300: #eab308;
    --yellow-400: #facc15;
    --yellow-500: #fde047;
    --yellow-600: #fef08a;

    --app-color: var(--green-300);
    --highlight-hover: rgba(255 255 255 / 0.15);
    --highlight-pressed: rgba(255 255 255 / 0.25);
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --background-color: #1d1d1d;
  --gray-50: #272727;
  --gray-100: #393939;
  --gray-200: #4f4f4f;
  --gray-300: #686868;
  --gray-400: #848484;
  --gray-500: #a7a7a7;
  --gray-600: #cfcfcf;
  --gray-650: #efefef;
  --blue-50: #021a35;
  --blue-100: #044792;
  --blue-200: #006dca;
  --blue-300: #008ff8;
  --blue-400: #2bb3ff;
  --blue-500: #8ecdff;
  --blue-600: #c4e5fe;
  --red-100: #721200;
  --red-200: #9c1900;
  --red-300: #cc2000;
  --red-400: #e95034;
  --red-500: #f08c79;
  --red-600: #f7c3ba;
  --green-50: #002a0c;
  --green-100: #004819;
  --green-200: #006728;
  --green-300: #00AC47;
  --green-400: #51da73;
  --green-500: #68ee85;
  --green-600: #bffbc6;

  --yellow-100: #a16207;
  --yellow-200: #ca8a04;
  --yellow-300: #eab308;
  --yellow-400: #facc15;
  --yellow-500: #fde047;
  --yellow-600: #fef08a;
  
  --app-color: var(--green-300);
  --highlight-hover: rgba(255 255 255 / 0.15);
  --highlight-pressed: rgba(255 255 255 / 0.25);

}

:root {
  --focus-ring-color: var(--blue-300);
  --text-color: var(--gray-650);
  --text-color-base: var(--gray-500);
  --text-color-hover: var(--gray-650);
  --text-color-disabled: var(--gray-200);
  --text-color-placeholder: var(--gray-400);
  --link-color: var(--blue-500);
  --link-color-secondary: var(--gray-500);
  --link-color-pressed: var(--blue-600);
  --border-color: var(--gray-400);
  --border-color-hover: var(--gray-400);
  --border-color-pressed: var(--gray-400);
  --border-color-disabled: var(--gray-100);
  --field-background: var(--background-color);
  --field-text-color: var(--gray-650);
  --overlay-background: var(--gray-50);
  --button-background: var(--gray-50);
  --button-background-pressed: var(--background-color);
  /* these colors are the same between light and dark themes
  * to ensure contrast with the foreground color */
  --highlight-background: #044792; /* blue-300 from dark theme, 3.03:1 against background-color */
  --highlight-background-hover:  #006dca; /* blue-200 from dark theme */
  --highlight-background-pressed: #008ff8; /* blue-100 from dark theme */
  --highlight-background-invalid: #cc2000; /* red-300 from dark theme */
  --highlight-foreground: white; /* 5.56:1 against highlight-background */
  --highlight-foreground-pressed: #ddd;
  --highlight-overlay: rgb(from #008ff8 r g b / 30%);
  --invalid-color: var(--red-400);
  --invalid-color-pressed: var(--red-500);

  --income-background: rgb(from var(--green-100) r g b / 25%);
}
