:root, :root[data-theme="light"] {
  color-scheme: light;

  --app-color: #00AC47;
  --dodgerblue: dodgerblue;

  --bg-color: white;
  --font-color: rgb(44, 44, 44);
  --light-font: white;

  --red-low-cont: rgb(255 240 240);
  --red-hi-cont: crimson;

  --green-low-cont: rgb(238 246 225);
  --green-hi-cont: darkolivegreen;

  --grey-low-cont: rgb(240, 240, 240);
  --grey-med-cont: rgb(190, 190, 190);
  --grey-hi-cont: rgb(111, 110, 110);
  --grey-highlight: hsla(0, 0%, 85%, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root:not(:root[data-theme]) {
    color-scheme: dark;

    --app-color: #00AC47;
    --dodgerblue: dodgerblue;
  
    --bg-color: #1F1F1F;
    --font-color: rgb(235, 235, 235);
    --light-font: rgb(235, 235, 235);

    --red-low-cont: rgb(82, 8, 8);
    --red-hi-cont: crimson;

    --green-low-cont: #2b372c;
    --green-hi-cont: rgb(94, 209, 92);
  
    --grey-low-cont: rgb(49, 49, 49);
    --grey-med-cont: rgb(100, 100, 100);
    --grey-hi-cont: rgb(160, 160, 160);
    --grey-highlight: hsla(0, 1%, 53%, 0.3);
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;
  
  --app-color: #00AC47;
  --dodgerblue: dodgerblue;

  --bg-color: #1F1F1F;
  --font-color: rgb(235, 235, 235);
  --light-font: rgb(235, 235, 235);

  --red-low-cont: rgb(82, 8, 8);
  --red-hi-cont: crimson;

  --green-low-cont: #2b372e;
  --green-hi-cont: rgb(104, 209, 92);

  --grey-low-cont: rgb(49, 49, 49);
  --grey-med-cont: rgb(100, 100, 100);
  --grey-hi-cont: rgb(160, 160, 160);
  --grey-highlight: hsla(0, 1%, 53%, 0.3);
}

:root {
  --toastify-color-light: var(--grey-low-cont);
  --toastify-text-color-light: var(--font-color);
  
}
