:root, :root[data-theme="light"] {
  color-scheme: light;
  --background-color: #ffffff;
  --gray-50: #f2f2f2;
  --gray-100: #d0d0d0;
  --gray-200: #afafaf;
  --gray-300: #8f8f8f;
  --gray-400: #717171;
  --gray-500: #555555;
  --gray-600: #393939;
  --gray-650: #181818;
  --blue-100: #c9d8fa;
  --blue-200: #a3b6f6;
  --blue-300: #7c9bf2;
  --blue-400: #548fef;
  --blue-500: #2d53dc;
  --blue-600: #1e5195;
  --green-100: #c9facd;
  --red-100: #f7c4ba;
  --red-200: #f29887;
  --red-300: #eb664d;
  --red-400: #de2300;
  --red-500: #a81b00;
  --red-600: #731200;
  --highlight-hover: rgba(0 0 0 / 0.07);
  --highlight-pressed: rgba(0 0 0 / 0.15);
}

@media (prefers-color-scheme: dark) {
  :root:not(:root[data-theme]) {
    color-scheme: dark;

    --background-color: #1d1d1d;
    --gray-50: #272727;
    --gray-100: #393939;
    --gray-200: #4f4f4f;
    --gray-300: #686868;
    --gray-400: #848484;
    --gray-500: #a7a7a7;
    --gray-600: #cfcfcf;
    --gray-650: #efefef;
    --blue-100: #1e5195;
    --blue-200: #2d53dc;
    --blue-300: #548fef;
    --blue-400: #7c9bf2;
    --blue-500: #a3b6f6;
    --blue-600: #c9d8fa;
    --green-100: #2b372c;
    --red-100: #721200;
    --red-200: #9c1900;
    --red-300: #cc2000;
    --red-400: #e95034;
    --red-500: #f08c79;
    --red-600: #f7c3ba;
    --highlight-hover: rgba(255 255 255 / 0.1);
    --highlight-pressed: rgba(255 255 255 / 0.2);
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --background-color: #1d1d1d;
  --gray-50: #272727;
  --gray-100: #393939;
  --gray-200: #4f4f4f;
  --gray-300: #686868;
  --gray-400: #848484;
  --gray-500: #a7a7a7;
  --gray-600: #cfcfcf;
  --gray-650: #efefef;
  --blue-100: #1e5195;
  --blue-200: #2d53dc;
  --blue-300: #548fef;
  --blue-400: #7c9bf2;
  --blue-500: #a3b6f6;
  --blue-600: #c9d8fa;
  --green-100: #2b372c;
  --red-100: #721200;
  --red-200: #9c1900;
  --red-300: #cc2000;
  --red-400: #e95034;
  --red-500: #f08c79;
  --red-600: #f7c3ba;
  --highlight-hover: rgba(255 255 255 / 0.1);
  --highlight-pressed: rgba(255 255 255 / 0.2);

}

:root {
  --focus-ring-color: var(--blue-400);
  --text-color: var(--gray-650);
  --text-color-base: var(--gray-500);
  --text-color-hover: var(--gray-650);
  --text-color-disabled: var(--gray-200);
  --text-color-placeholder: var(--gray-400);
  --link-color: var(--blue-500);
  --link-color-secondary: var(--gray-500);
  --link-color-pressed: var(--blue-600);
  --border-color: var(--gray-300);
  --border-color-hover: var(--gray-400);
  --border-color-pressed: var(--gray-400);
  --border-color-disabled: var(--gray-100);
  --field-background: var(--background-color);
  --field-text-color: var(--gray-650);
  --overlay-background: var(--gray-50);
  --button-background: var(--gray-50);
  --button-background-pressed: var(--background-color);
  /* these colors are the same between light and dark themes
  * to ensure contrast with the foreground color */
  --highlight-background: #548fef; /* blue-300 from dark theme, 3.03:1 against background-color */
  --highlight-background-pressed: #2d53dc; /* blue-200 from dark theme */
  --highlight-background-invalid: #cc2000; /* red-300 from dark theme */
  --highlight-foreground: white; /* 5.56:1 against highlight-background */
  --highlight-foreground-pressed: #ddd;
  --highlight-overlay: rgb(from #548fef r g b / 15%);
  --invalid-color: var(--red-400);
  --invalid-color-pressed: var(--red-500);

  --income-background: var(--green-100);

  --app-color: #00AC47;
  --toastify-color-light: var(--gray-50);
  --toastify-text-color-light: var(--text-color);
}
