html {
  font: var(--font-size-html) system-ui, helvetica, arial, sans serif;
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  line-height: 1.5;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

[id="root"] {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  order: 2;
  overflow-x: auto;
  height: 100%;
}

[id="root"]>header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

.custom-scrollbar, 
.fl-list [data-testid="virtuoso-scroller"], 
.react-aria-ListBox, 
main, 
textarea,
.react-aria-GridList,
.cats-filter-box,
.bottom-sheet-dialog,
.react-aria-Modal {
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--gray-300);
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.flex-col {display: flex; flex-direction: column;}
.flex-row {display: flex; flex-direction: row;}
.wrap {flex-wrap: wrap;}
.align-center {align-items: center;}
.align-start {align-items: flex-start;}
.align-baseline {align-content: baseline;}
.justify-sb {justify-content: space-between;}
.justify-center {justify-content: center;}
.justify-end {justify-content: end;}
.align-self-end {align-self: flex-end;}
.gap-micro {gap: 0.1rem;}
.gap-1 {gap: calc(var(--gap-step) * 1);}
.gap-2 {gap: calc(var(--gap-step) * 2);}
.gap-3 {gap: calc(var(--gap-step) * 3);}
.pad-micro {padding: 0.1rem;}
.pad-1 {padding: calc(var(--gap-step) * 1);}
.pad-2 {padding: calc(var(--gap-step) * 2);}
.pad-3 {padding: calc(var(--gap-step) * 3);}

.max-width-wrap {
  max-width: min(var(--max-width), 95vw);
  margin: 0 auto;
}

.settings-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(var(--gap-step) * 2);
  padding: calc(var(--gap-step) * 3);
  background-color: var(--gray-50);
  border-radius: var(--app-border-radius);
}
.settings-section-container>label {
  color: var(--gray-600);
}

.spinner {
  width: 0.9rem;
  height: 0.9rem;
  border: 0.2rem solid;
  border-color: var(--text-color) transparent var(--text-color) transparent;
  border-radius: 50%;
  animation: spin-anim 0.6s linear infinite;
  /* animation-delay: 50ms; */
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.income-background {
  background-color: var(--income-background);
}

.firebase-emulator-warning {
  background-color: transparent !important;
  color: var(--red-300) !important;
  border: none !important;
  width: unset !important;
  right: 0 !important;
  left: unset !important;
  font-size: 0.9rem !important;
}
