html {
  font: var(--font-size-html) system-ui, helvetica, arial, sans serif;
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  line-height: 1.5;
  overflow: clip;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

[id="root"] {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

button, input, select {
  font: inherit;
}

input:not([type="button"], [type="submit"], [type="reset"]), select {
  padding: var(--gap-step);
}

header {
  height: var(--header-height);
  order: 1;
}

main {
  order: 2;
  overflow-x: auto;
  height: calc(100vh - var(--header-height));
}

.custom-scrollbar, main, .fl-list [data-testid="virtuoso-scroller"] {
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--gray-300);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--gray-300);
  }
}


.page-centered-content  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}



.settings-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: calc(var(--gap-step) * 2);
  padding: calc(var(--gap-step) * 2);
}

.settings-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(var(--gap-step) * 2);
  background-color: var(--gray-50);
  border-radius: var(--app-border-radius);
  padding: calc(var(--gap-step) * 3);
}
.settings-section-container>label {
  color: var(--gray-600);
}

.settings-section-container-center {
  align-items: center;
}


.spinner {
  width: 0.9rem;
  height: 0.9rem;
  border: 0.2rem solid;
  border-color: var(--text-color) transparent var(--text-color) transparent;
  border-radius: 50%;
  animation: spin-anim 0.6s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
