button {
  color: inherit;
  font: inherit;
}

input, select {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

input:not([type="button"], [type="submit"], [type="reset"]), select {
  padding: var(--gap-step);
}

input[type="checkbox"] {
  transform: scale(1.3);
}

.btn-std {
  background-color: var(--blue-300);
  color: white;
  border-radius: var(--app-border-radius);
  border: none;
  padding: calc(var(--gap-step) * 2.5) calc(var(--gap-step) * 3);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  .danger {
    background-color: var(--red-500);
  }

  .secondary {
    color: var(--text-color);
    background-color: var(--gray-100);
  }

  .large {
    padding: calc(var(--gap-step) * 4) calc(var(--gap-step) * 5);
  }

  .small {
    padding: calc(var(--gap-step) * 1) calc(var(--gap-step) * 2);
  }

  &:hover:not([disabled]) {
    filter: brightness(90%);
  }
  &:active:not([disabled]) {
    filter: brightness(105%);
  }

  [disabled] {
    background-color: var(--gray-100);
    color: var(--gray-500);
  }
}

.txt-inp-std {
  padding: var(--gap-step);
}

