.app-header  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color:var(--app-color);
  color: white;
  padding-left: var(--gap-step);
  padding-right: var(--gap-step);
}
