.op-list {
  container-name: op-list;
  container-type: inline-size;
}

.op-list.op-list-full {
  height: 100%;
}

.op-section, .op-section-header {
  max-width: var(--max-width);
  margin: 0 auto;
}

@container op-list (width < 1100px) {
  .op-section-header {
    display: none;
  }
  .op-section {
    display: grid;
    grid-template-areas: 
    "des des des sum"
    "cat cat dat sum"
    "inc . cre men";
  }
}

@container op-list (width < 555px) {
  .op-section {
    grid-template-areas: 
    "des des des des"
    "cat cat cat sum"
    "inc dat dat dat"
    "cre cre cre men";
  }
}