.app-nav {
  margin: 0 auto;
  width: var(--max-width);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 0.1rem var(--gap-step);

  .app-nav-item {
    display: flex;
    align-items: center;
  }
  
  a {
    font-weight: 500;
    color: var(--font-color);
    text-decoration: none;
    padding: 0.2rem;
    border-radius: var(--app-border-radius);
  }
  
  > a.active {
    background-color: var(--highlight-hover);
    color: var(--blue-400);
  }
  > a:hover {
    background-color: var(--highlight-pressed);
    color: var(--blue-500);
  }
}

@media (max-width: 44rem) {
  .app-nav-item {
    flex-direction: column;
  }
}

@media (max-width: 370px) {
  .app-nav-item {
    .text {
      display: none;
    }
    >svg {
      height: 2rem;
      width: 2rem;
    }
  }
}
