.calculator-container {

  .expression-container {
    .result {
      font-family: monospace;
      font-size: 1.2rem;
      height: 1.2rem;
    }

    .react-aria-Input {
      font-family: monospace;
    }
  }
}