.fl-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-step);
  border-radius: var(--app-border-radius);
  
  [data-testid="virtuoso-item-list"] {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-right: 0.3rem;
  }
}

.fl-list-header {
  width: calc(100% - (var(--gap-step) * 3));
  font-weight: 600;
}
.fl-list-row, .fl-list-header, .fl-list-title {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--gap-step);
  gap: var(--gap-step);
  /* >* {padding: 0 var(--gap-step);} */
}
.fl-list-title {
  align-self: center;
  text-align: center;
}
.fl-list-row, .fl-list-header {
  background-color: var(--gray-50);
  border-radius: var(--app-border-radius);
}
.fl-list-row:hover {
  background-color: var(--highlight-hover);
}
.fl-list-row.selected, .fl-list-row.fl-row-selected:hover {
  background-color: var(--blue-300);
}
.fl-list-row.fl-row-active, .fl-list-row:focus {
  background-color: var(--highlight-hover);
  outline: none;
}
.fl-list-body {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  overflow-y: auto;
  /*custom-scrollbar*/
  border-radius: inherit;
  padding-right: var(--gap-step);
}
.fl-list-header>.fl-cell {
  position: relative;
}
.fl-cell {
  display: flex;
  align-items: center;
}

.fl-center {text-align: center;}
