.app-nav {
  margin: 0 auto;
  width: var(--max-width);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap-step));
  padding: 0.1rem var(--gap-step);

  .app-nav-item {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }
  
  a {
    font-weight: 500;
    color: var(--highlight-foreground);
    text-decoration: none;
    padding: 0.2rem 0.3rem;
    border-radius: var(--app-border-radius);
  }
  
  > a.active {
    background-color: #e4e4e4d7;
    color: var(--highlight-background);
  }
  > a:hover {
    background-color: #c5c5c5ba;
    color: var(--highlight-background-hover);
  }
}

@media (max-width: 44rem) {
  .app-nav-item {
    flex-direction: column;
  }
}
