:root, :root[data-theme="light"] {
  color-scheme: light;

  --app-color: lightseagreen;
  --dodgerblue: dodgerblue;

  --bg-color: white;
  --font-color: rgb(44, 44, 44);
  --light-font: white;

  --red-low-cont: rgb(255 240 240);
  --red-hi-cont: crimson;

  --green-low-cont: rgb(166, 209, 92);
  --green-hi-cont: darkolivegreen;

  --grey-low-cont: rgb(240, 240, 240);
  --grey-med-cont: rgb(190, 190, 190);
  --grey-hi-cont: rgb(111, 110, 110);
}

@media (prefers-color-scheme: dark) {
  :root:not(:root[data-theme]) {
    color-scheme: dark;

    --app-color: lightseagreen;
    --dodgerblue: dodgerblue;
  
    --bg-color: rgb(35, 35, 35);
    --font-color: rgb(235, 235, 235);
    --light-font: rgb(235, 235, 235);

    --red-low-cont: rgb(82, 8, 8);
    --red-hi-cont: crimson;

    --green-low-cont: darkolivegreen;
    --green-hi-cont: rgb(166, 209, 92);
  
    --grey-low-cont: rgb(49, 49, 49);
    --grey-med-cont: rgb(100, 100, 100);
    --grey-hi-cont: rgb(160, 160, 160);
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;
  
  --app-color: lightseagreen;
  --dodgerblue: dodgerblue;

  --bg-color: rgb(35, 35, 35);
  --font-color: rgb(235, 235, 235);
  --light-font: rgb(235, 235, 235);

  --red-low-cont: rgb(82, 8, 8);
  --red-hi-cont: crimson;

  --green-low-cont: darkolivegreen;
  --green-hi-cont: rgb(166, 209, 92);

  --grey-low-cont: rgb(49, 49, 49);
  --grey-med-cont: rgb(100, 100, 100);
  --grey-hi-cont: rgb(160, 160, 160);
}
