.react-aria-Button-icon {

  --size: 1.7rem;
  &.s {--size: 1.5rem;}
  &.l {--size: 2.3rem;}
  &.xl {--size: 3rem;}

  width: var(--size);
  height: var(--size);
  font-size: calc(var(--size) * 0.6);
  background-color: transparent;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-weight: bold;
  color: var(--text-color);
  padding: calc(var(--size) * 0.12);
  user-select: none;
  border: unset;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  
  svg {
    fill: var(--text-color);
    height: calc(var(--size) * 0.75);
    width: calc(var(--size) * 0.75);
  }

  &[data-hovered] {
    background-color: var(--highlight-hover);
  }

  &[data-pressed] {
    background: var(--highlight-pressed);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-disabled]{
    border-color: var(--border-color-disabled);
    color: var(--text-color-disabled);

    svg {
      fill: var(--text-color-disabled);
    }
  }

  &[data-selected] {
    background-color: var(--gray-300);
    color: var(--gray-50);
  
    svg {
      fill: var(--gray-50);
    }
    &[data-hovered] {
      background-color: var(--gray-400);
    }
    &[data-pressed] {
      background-color: var(--gray-500);
    }
  }
}
