.react-aria-DropZone {
  min-width: 10rem;
  min-height: 5rem;
  border: 2px dashed var(--gray-300);
  border-radius: var(--app-border-radius);
  gap: var(--gap-step);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.react-aria-DropZone[data-drop-target] {
  background-color: var(--highlight-hover);
}
