.react-aria-Switch {
  display: flex;
  align-items: center;
  gap: var(--gap-step);
  color: var(--text-color);
  forced-color-adjust: none;

  .indicator.s {
    --height: 1rem;
  }
  .indicator.m {
    --height: 1rem;
  }
  .indicator.l {
    --height: 1.5rem;
  }

  .indicator {
    --width: calc(var(--height) * 1.7);
    --border: calc(var(--height) * 0.13);
    min-width: var(--width);
    height: var(--height);
    border: var(--border) solid var(--highlight-background);
    background: transparent;
    border-radius: var(--height);
    transition: all 200ms;
    position: relative;
    box-sizing: content-box;
    
    &:before {
      content: '';
      position: absolute;
      width: var(--height);
      height: var(--height);
      background: var(--highlight-background);
      border-radius: 50%;
      transition: all 150ms;
    }
  }
  
  /* &[data-hovered] .indicator {
    background-color: var(--highlight-hover);
  } */

  &[data-pressed] .indicator {
    border-color: var(--highlight-background-pressed);
    background: var(--highlight-background-pressed);

    &:before {
      background-color: var(--highlight-background);
    }
  }

  &[data-selected] {
    /* &[data-hovered] {
      .indicator {
        background-color: var(--blue-200);
      }
    } */

    .indicator {
      border-color: var(--highlight-background);
      background: var(--highlight-background);

      &:before {
        background: var(--background-color);
        transform: translateX(calc(var(--width) - var(--height)));
      }
      
    }

    &[data-pressed] {
      .indicator {
        border-color: var(--highlight-background-pressed);
        background-color: var(--highlight-background-pressed);
      }
    }
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--gray-300);

    .indicator {
      border-color: var(--gray-300);

      &:before {
        background: var(--gray-300);
      }
    }
  }

}