.react-aria-TextField {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--text-color);

  .react-aria-Input,
  .react-aria-TextArea {
    padding: var(--gap-step);
    margin: 0;
    border: 1px solid var(--border-color);
    border-radius: var(--app-border-radius);
    background: var(--field-background);
    font-size: 1rem;
    color: var(--field-text-color);

    &[data-focused] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
    .react-aria-TextArea {
      min-width: 6rem;
      min-height: 1.6rem;
    }
  }

  .react-aria-Input,
  .react-aria-TextArea {
    &[data-invalid] {
      border-color: var(--invalid-color);
    }
  }

  .react-aria-FieldError {
    font-size:  0.9rem;
    color: var(--invalid-color);
  }

  [slot=description] {
    font-size:  0.9rem;
  }

  .react-aria-Input,
  .react-aria-TextArea {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }

  .react-aria-TextArea {
    font: inherit;
    &.none {
      resize: none;
    }
    &.both {
      resize: both;
    }
    &.vertical {
      resize: vertical;
    }
    &.horizontal {
      resize: horizontal;
    }
  }
}
