.react-aria-Tooltip {
  box-shadow: 0 0 6px 2px rgba(0 0 0 / 0.1);
  border-radius: var(--app-border-radius);
  background: var(--background-color);
  color: var(--text-color);
  forced-color-adjust: none;
  outline: none;
  padding: var(--gap-step);
  max-width: min-content;
  /* fixes FF gap */
  transform: translate3d(0, 0, 0);
  text-align: center;

  &[data-placement=top] {
    margin-bottom: 0.5rem;
    --origin: translateY(var(--gap-step));
  }

  &[data-placement=bottom] {
    margin-top: var(--gap-step);
    --origin: translateY(-var(--gap-step));
    & .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement=right] {
    margin-left: var(--gap-step);
    --origin: translateX(-var(--gap-step));
    & .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement=left] {
    margin-right: var(--gap-step);
    --origin: translateX(var(--gap-step));
    & .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }

  & .react-aria-OverlayArrow svg {
    display: block;
    fill: var(--gray-500);
  }

  &[data-entering] {
    animation: slide 200ms;
  }

  &[data-exiting] {
    animation: slide 200ms reverse ease-in;
  }
}

@keyframes slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}