.toaster {
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-step) * 2);
  align-items: center;
  z-index: 1;

  .toast {
    &.info {--bg: var(--blue-100);}
    &.success {--bg: var(--green-100);}
    &.error {--bg: var(--red-100);}
    &.warning {--bg: var(--yellow-100);}

    display: flex;
    gap: calc(var(--gap-step) * 2);
    padding: calc(var(--gap-step) * 2);
    width: max-content;
    max-width: min(28rem, 100vw);
    align-items: center;
    border-radius: var(--app-border-radius);
    background-color: var(--bg);
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-name: slidein;

    .icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: -0.3rem;

      svg {
        fill: var(--text-color);
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .message {
      overflow-wrap: break-word;
      flex-grow: 1;
      font-size: 1rem;
      overflow-y: auto;
    }
  }

}

@keyframes slidein {
  from {
    transform: translateY(200%);
  }
}
