.planning-widget {
  height: 100%;
  display: flex;
  flex-direction: column;

  /* .toolbar {
    min-width: min(50rem, 95vw);
  } */

}

.period-sections-container {
  height: inherit;
  display: inherit;
  flex-direction: inherit;
  width: min(50rem, 100vw);
  gap: 0.6rem;

  [data-testid="virtuoso-item-list"] {
    gap: 0.6rem;
  }

  .period-section {
    border-radius: var(--app-border-radius);
    background: var(--gray-50);
    padding: 0.6rem;
    gap: 0.6rem;

    &.current {
      background: var(--blue-50);
    }

    display: flex;
    flex-direction: column;

    .period-name {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .period-summary {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.3rem;

      &.Plans {color: var(--blue-600);}
      &.Operations {color: var(--green-600);}

      .title {
        font-size: 1.2rem;
        width: 7rem;
      }

      .values {
        display: flex;
        gap: 0.6rem;
        font-weight: 600;
      }

      .values-pair {
        display: flex;
        gap: 0.6rem;
      }

      .value {
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;

        /* .value-title {
        } */

        .value-sum {
          width: 5rem;
        }
      }
    }

  }

  .cat-summary-inc-exp-title {
    font-weight: 600;
    text-align: center;
    color: var(--gray-400)
  }

  .cat-summary-row {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.2rem;
    border-radius: var(--app-border-radius);
  
    .name {
      width: 7rem;
      max-width: 16rem;
      flex-grow: 1;
    }
  
    .plan-sum, .op-sum, .diff {
      width: 5rem;
    }
  }

}
