.react-aria-Button-icon {

  --icon-size: 1.7rem;

  &.s {
    --icon-size: 1.5rem;
  }

  &.l {
    --icon-size: 2.3rem;
  }

  &.xl {
    --icon-size: 3rem;
  }

  width: var(--icon-size);
  height: var(--icon-size);
  font-size: calc(var(--icon-size) * 0.6);
  background-color: transparent;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-weight: bold;
  color: var(--text-color);
  padding: calc(var(--icon-size) * 0.12);
  user-select: none;
  border: unset;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: calc(var(--icon-size) * 0.75);
    width: calc(var(--icon-size) * 0.75);
  }

  &[data-hovered] {
    background-color: var(--highlight-hover);
  }

  &[data-pressed] {
    background: var(--highlight-pressed);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
  }

  &[data-selected] {
    background-color: var(--gray-300);
    color: var(--gray-50);

    &[data-hovered] {
      background-color: var(--gray-400);
    }

    &[data-pressed] {
      background-color: var(--gray-500);
    }
  }
}