.react-aria-Checkbox {
  --cb-selected-color: var(--highlight-background);
  --cb-selected-color-pressed: var(--highlight-background-pressed);
  --cb-checkmark-color: var(--highlight-foreground);

  display: flex;
  align-items: center;
  gap: var(--gap-step);
  font-size: 1rem;
  color: var(--text-color);
  forced-color-adjust: none;
  position: relative;


  .checkbox.s {
    --cb-size: 1rem;
  }

  .checkbox.m {
    --cb-size: 1.1rem;
  }

  .checkbox.l {
    --cb-size: 1.5rem;
  }

  .checkbox {
    width: var(--cb-size);
    height: var(--cb-size);
    border: 2px solid var(--border-color);
    border-radius: 4px;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
  }

  svg {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--cb-checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }

  &[data-pressed] .checkbox {
    border-color: var(--border-color-pressed);
  }

  &[data-focus-visible] .checkbox {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-selected],
  &[data-indeterminate] {
    .checkbox {
      border-color: var(--cb-selected-color);
      background: var(--cb-selected-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--cb-selected-color-pressed);
      background: var(--cb-selected-color-pressed);
    }

    svg {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    & svg {
      stroke: none;
      fill: var(--cb-checkmark-color);
    }
  }

  &[data-invalid] {
    .checkbox {
      --cb-checkmark-color: var(--gray-50);
      border-color: var(--invalid-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--invalid-color-pressed);
    }

    &[data-selected],
    &[data-indeterminate] {
      .checkbox {
        background: var(--invalid-color);
      }

      &[data-pressed] .checkbox {
        background: var(--invalid-color-pressed);
      }
    }
  }

  &[data-disabled] {
    color: var(--text-color-disabled);


    .checkbox {
      border-color: var(--border-color-disabled);
    }

    &[data-selected],
    &[data-indeterminate] {
      .checkbox {
        border-color: var(--gray-200);
        background-color: var(--gray-200);
      }
    }

  }
}