.react-aria-CheckboxGroup {
  display: flex;
  flex-direction: column;
  gap: var(--gap-step);
  color: var(--text-color);

  .react-aria-Label {
    cursor: default;
  }

  .react-aria-FieldError {
    font-size: 0.9rem;
    color: var(--invalid-color);
  }

  [slot=description] {
    font-size: 0.9rem;
  }
}