.react-aria-DatePicker {
  color: var(--text-color);

  .react-aria-Label {
    cursor: default;
  }

  .react-aria-Group {
    display: flex;
    width: fit-content;
    align-items: center;
  }

  .react-aria-Button-icon {
    margin-left: -1.929rem;
    margin-right: calc(1.929rem - 1.429rem);
    padding: 0 0.1rem;
  }

  .react-aria-DateInput {
    padding: var(--gap-step) 1.929rem var(--gap-step) var(--gap-step);
  }
}

.react-aria-Popover[data-trigger=DatePicker] {
  max-width: unset;
}

.react-aria-DatePicker {

  .react-aria-FieldError {
    font-size: 0.9rem;
    color: var(--invalid-color);
  }

  [slot=description] {
    font-size: 0.9rem;
  }
}
