.react-aria-Dialog {
  outline: none;
  padding: 1rem 2.2rem 1rem 1rem;
  max-height: inherit;
  box-sizing: border-box;
  position: relative;

  .react-aria-Heading[slot=title] {
    line-height: 1em;
    margin-top: 0;
  }

  .close-btn-wrapper {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
  }
}
