.react-aria-Menu {
  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  padding: 0.1rem;
  box-sizing: border-box;
  outline: none;
}

.react-aria-MenuItem {
  margin: 0.1rem;
  padding: var(--gap-step) calc(var(--gap-step) * 2);
  border-radius: calc(var(--app-border-radius) * 0.8);
  outline: none;
  cursor: default;
  color: var(--text-color);
  font-size: 1rem;
  position: relative;
  display: grid;
  grid-template-areas: "label kbd"
                      "desc  kbd";
  align-items: center;
  column-gap: 1.5rem;
  forced-color-adjust: none;

  &[data-focused] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }

  .chevron {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.15rem;
    width: 1.4rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.react-aria-MenuItem {
  &[data-selection-mode] {
    padding-left: 2rem;

    &::before {
      position: absolute;
      left: var(--gap-step);
      font-weight: 600;
    }

    &[data-selection-mode=multiple][data-selected]::before {
      content: '✓';
      content: '✓' / '';
      alt: ' ';
      position: absolute;
      left: var(--gap-step);
      font-weight: 600;
    }

    &[data-selection-mode=single][data-selected]::before {
      content: '●';
      content: '●' / '';
      transform: scale(0.7)
    }
  }
}

.react-aria-MenuItem[href] {
  text-decoration: none;
  cursor: pointer;
}

.react-aria-Menu {
  .react-aria-MenuSection:not(:first-child) {
    margin-top: 0.9rem;
  }

  .react-aria-Header {
    font-size: 1.143rem;
    font-weight: bold;
    padding: 0 0.714rem;
  }

  .react-aria-Separator {
    height: 1px;
    background: var(--border-color);
    margin: 0.1rem 0.3rem;
  }
}

.react-aria-MenuItem {
  [slot=label] {
    grid-area: label;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    > svg {
      fill: var(--font-color);
    }
  }

  [slot=description] {
    font-size: small;
    grid-area: desc;
  }

  kbd {
    grid-area: kbd;
    font-family: monospace;
    text-align: end;
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
  }
}

.react-aria-Popover[data-trigger=SubmenuTrigger][data-placement="right"] {
  margin-left: -5px;
}

.react-aria-Popover[data-trigger=SubmenuTrigger][data-placement="left"] {
  margin-right: -5px;
}
