.react-aria-Switch {
  display: flex;
  align-items: center;
  gap: var(--gap-step);
  color: var(--text-color);
  forced-color-adjust: none;

  .indicator.s {
    --switch-height: 1rem;
  }

  .indicator.m {
    --switch-height: 1rem;
  }

  .indicator.l {
    --switch-height: 1.5rem;
  }

  .indicator {
    --switch-width: calc(var(--switch-height) * 1.7);
    --switch-border: calc(var(--switch-height) * 0.13);
    min-width: var(--switch-width);
    height: var(--switch-height);
    border: var(--switch-border) solid var(--highlight-background);
    background: transparent;
    border-radius: var(--switch-height);
    transition: all 200ms;
    position: relative;
    box-sizing: content-box;

    &:before {
      content: '';
      position: absolute;
      width: var(--switch-height);
      height: var(--switch-height);
      background: var(--gray-300);
      border-radius: 50%;
      transition: all 150ms;
    }
  }

  &[data-pressed] .indicator {
    border-color: var(--highlight-background-pressed);
  }

  &[data-selected] {
    .indicator {
      border-color: var(--highlight-background);
      background: var(--highlight-background);

      &:before {
        background: var(--background-color);
        transform: translateX(calc(var(--switch-width) - var(--switch-height)));
      }

    }

    &[data-pressed] {
      .indicator {
        border-color: var(--highlight-background-pressed);
        background-color: var(--highlight-background-pressed);
      }
    }
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--gray-300);

    .indicator {
      border-color: var(--gray-300);
      background-color: unset;

      &:before {
        background: var(--gray-300);
      }
    }
  }

}