.react-aria-TagGroup {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: 1rem;
  color: var(--text-color);

  .react-aria-Label {
    cursor: default;
  }
}

.react-aria-TagList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-step)
}

.react-aria-Tag {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  forced-color-adjust: none;
  border-radius: var(--app-border-radius);
  padding: var(--gap-step) calc(var(--gap-step) * 2);
  font-size: 1rem;
  outline: none;
  cursor: default;
  display: flex;
  align-items: center;
  transition: border-color 200ms;

  .s {
    font-size: 0.9rem;
    padding: 0.1rem;
  }

  &[data-hovered] {
    border-color: var(--border-color-hover);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-selected] {
    border-color: var(--highlight-background);
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }

  [slot=remove] {
    background: none;
    border: none;
    padding: 0;
    margin-left: var(--gap-step);
    color: var(--text-color-base);
    transition: color 200ms;
    outline: none;
    font-size: 0.85rem;

    &[data-hovered] {
      color: var(--text-color-hover);
    }

    &[data-pressed] {
      box-shadow: none;
      color: var(--text-color)
    }
  }

  &[data-selected] {
    [slot=remove] {
      color: inherit;

      &[data-hovered] {
        color: var(--red-500);
      }

      &[data-pressed] {
        box-shadow: none;
        color: var(--gray-50)
      }
    }
  }
}

.react-aria-Tag[data-href] {
  text-decoration: none;
  cursor: pointer;
}

.react-aria-TagList {
  .react-aria-Tag {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }
}

.react-aria-TagGroup {
  [slot=description] {
    font-size: 0.9rem;
  }

  [slot=errorMessage] {
    font-size: 0.9rem;
    color: var(--invalid-color);
  }
}