.react-aria-Toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap-step) * 2);
  padding: var(--gap-step);
  margin: var(--gap-step);

  background-color: var(--gray-50);
  border-radius: var(--app-border-radius);

  &[data-orientation=horizontal] {
    flex-direction: row;
    align-items: center;
  }

  .react-aria-Group {
    display: contents;
  }
}

.react-aria-Separator {
  align-self: stretch;
  background-color: var(--gray-300);

  &[aria-orientation=vertical] {
    width: 0.15rem;
    margin: 0 var(--gap-step);
    border-radius: 2px;
  }
}

.react-aria-Toolbar {

  &[data-orientation=vertical] {
    flex-direction: column;
    align-items: start;
  }
}

.react-aria-Separator {
  &:not([aria-orientation=vertical]) {
    border: none;
    height: 0.15rem;
    width: 100%;
    margin: var(--gap-step) 0;
    border-radius: 2px;
  }
}