.react-aria-Tooltip {
  --tooltip-margin: 0.6rem;
  box-shadow: 0 0 6px 2px rgba(0 0 0 / 0.1);
  border-radius: var(--app-border-radius);
  background: var(--text-color);
  color: var(--background-color);
  forced-color-adjust: none;
  outline: none;
  padding: var(--gap-step);
  max-width: min-content;
  /* fixes FF gap */
  transform: translate3d(0, 0, 0);
  text-align: center;

  &[data-placement=top] {
    margin-bottom: var(--gap-step);
  }

  &[data-placement=bottom] {
    margin-top: var(--tooltip-margin);

    & .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement=right] {
    margin-left: var(--tooltip-margin);

    & .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement=left] {
    margin-right: var(--tooltip-margin);

    & .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }

  & .react-aria-OverlayArrow svg {
    height: 1rem;
    display: block;
    fill: var(--text-color);
  }

  &[data-entering] {
    animation: slide 200ms;
  }

  &[data-exiting] {
    animation: slide 200ms reverse ease-in;
  }
}

@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}