.op-checkbox {width: 2rem;}
.op-date {width: 8rem;}
.op-sum {width: 7rem;}
.op-description {width: 15rem;}
.op-category {width: 15rem;}
.op-is-income {width: 7rem;}
.op-created {width: 8rem;}

@container op-list (width >= 1100px) {
  .op-section-value-label {
    display: none;
  }
}

@container op-list (width < 1100px) {
  .op-checkbox {
    display: none;
  }
  .op-date {
    grid-area: dat;
  }
  .op-sum {
    width: unset;
    grid-area: sum;
    font-size: 1.4rem;
    justify-content: end;
  }
  .op-description {
    grid-area: des;
    font-size: 1.1rem;
    width: 100%;
  }
  .op-category {
    grid-area: cat;
  }
  .op-is-income {
    grid-area: inc;
    color: var(--gray-400);
  }
  .op-created {
    grid-area: cre;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    color: var(--gray-400);
    ; 
    width: 100%;
  }
  .op-menu-btn {
    grid-area: men;
    justify-content: end;
  }
}
