.new-operation-form {
  margin: var(--gap-step);
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-step) * 2);
  align-items: start;
  width: 20rem;

  h2 {
    margin: 0;
    padding: 1rem 0;
  }
}
