.op-checkbox {
  width: 2rem;
}

.op-date {
  width: 11rem;
}

.op-description {
  width: 12rem;
}

.op-sum {
  width: 12rem;
}

.op-category {
  width: 16rem;

  select {
    width: 16rem;
  }
}

.op-is-income {
  width: 6rem;
}

.op-buttons {
  width: 4rem;
}

