.op-checkbox {
  width: 2rem;
}

.op-date {
  width: 11rem;
}

.op-description {
  width: 12rem;
}

.op-sum {
  width: 12rem;
}

.op-category {
  width: 16rem;

  select {
    width: 16rem;
  }
}

.op-is-income {
  width: 6rem;
}

.op-is-plan {
  width: 5rem;
}

.op-buttons {
  width: 4rem;
}

.op-recurrent-badge {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}
.op-recurrent-badge>svg {
  fill: var(--gray-500);
}
