.op-checkbox {
  width: 2rem;
}

.op-date {
  width: 11rem;
  align-items: center;
}

.op-description {
  width: 12rem;

  input[type="text"] {
    width: 12rem;
  }
}

.op-sum {
  width: 7rem;

  input[type="number"] {
    width: 7rem;
  }
}

.op-category {
  width: 16rem;

  select {
    width: 16rem;
  }
}

.op-is-income {
  width: 6rem;
}

.op-is-plan {
  width: 5rem;
}

.op-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 4rem;
}

.op-recurrent-badge {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}
.op-recurrent-badge>svg {
  fill: var(--grey-hi-cont);
}

.op-income-section {
  background-color: var(--green-low-cont);
}
