.weekday-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid var(--grey-hi-cont);
  border-radius: var(--app-border-radius);
  justify-content: space-between;

  .item {
    padding: calc(var(--gap-step) * 2) var(--gap-step);
    user-select: none;
    cursor: pointer;
  }
  .item:first-child {
    border-radius: var(--app-border-radius) 0 0 var(--app-border-radius);
  }
  .item:last-child {
    border-radius: 0 var(--app-border-radius) var(--app-border-radius) 0;
  }

  .selected {
    background-color: var(--dodgerblue);
    color: var(--light-font);
  }
}