.strip-select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  padding: var(--gap-step);
  user-select: none;
  border: 1px solid var(--border-color);
  border-radius: 1px;
  white-space: nowrap;

  .item {
    padding: var(--gap-step);
    word-wrap: none;
    &:active {
      filter: brightness(97%);
    }
  }
  .selected {
    background-color: var(--blue-300);
    color: white;
  }
}
